doctype html
html
  head
    title test from dean
  body 
    h1.title#title this is test body
      a(href="www.baidu.com", title="baidu", data-uid="1000") baidu
    input.test#test_input(name="test")
    
